{% extends 'admin/base.html.twig' %}

{% block main %}
    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <a href="{{ path('article_update', {'id': article.id}) }}">Modifier l'article</a>
            <a href="{{ path('article_delete', {'id': article.id}) }}">Supprimer l'article</a>
        </article>
    {% endfor %}

    <div>
        <a href="{{ path('article_create') }}">Créer un article</a>
    </div>
{% endblock main %}
